/.vs
/.vscode
/.sonarqube
/packages
*bin
*obj
Resource.designer.cs
*.log
*.user
project.lock.json
*.nuget.props
*.bak
*PublishProfiles
*.targets
/Tools
/TestResults/81871852-2a9f-4bd1-b705-64aeee75808f
/src/Web/LuisBot/PostDeployScripts
*.DS_Store
*.ipa
profile.arm.json
/automagic-code/src